.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-options {
  margin: 20px;
}

.App-option {
  text-decoration: none;
  margin: 20px;
  padding: 10px;
  border: 1px solid #418EFF;
  color: #418EFF;
}

.App-option-disabled {
  border: 1px solid #000;
  color: #fff;
  background-color: #222;
}

.App-option-voted {
  border: 1px solid #00B624;
  color: #fff;
  background-color: #00FF33;
}

.App-chart-outside {
  margin: 40px auto;
  border: 1px solid #000;
  width: 360px;
}

.App-chart {
  margin-left: 10px;
  width: 300px;
}

.App-chart-option {
  background-color: #93C2FE;
  text-align: left;
  color: #000;
  padding: 10px;
  overflow-x: visible;
  white-space: nowrap;
  margin: 10px
}

.App-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.App-flex-item {
  margin: 20px;
  width: 400px;
}